<app>
  <router>
    <nav class=" navbar-dark bg-dark">
       <ul class="nav justify-content-center ">
      <li class="nav-item active">
        <a class="navbar-brand " href="/#home">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="/#table">Choix de pays</a>
      </li>
    </ul>
    </nav>

     <route path='/#home'>
      <message/>
      <stats/>
    </route>
    <route path='/#table'>
      <tables/>
    </route>
    <route path='/#table/pays/:country'>
      <pays pays={getCountryData(route)}/>
    </route>
  </router>

  <script>
    import lazy from '@riotjs/lazy'
    import { Router, Route } from '@riotjs/route'
    import Loader from './loader.riot'
    import {getCountry} from '../data/localstorage.js';

    export default {
      components: {
        Router,
        Route,
        Message: lazy(Loader, () => import('./message.riot')),
        Stats : lazy(Loader, () => import('./stats.riot')),
        Tables : lazy(Loader, () => import('./tables.riot')),
        Pays : lazy(Loader, () => import('./pays.riot')),

      },
        async getCountryData(route) {
          const nom = route.params
          let countryData = await getCountry(nom[0])
          return countryData;
      }
    }
  </script>
</app>