<home>
  <h3>{ props.title }</h3>
  {state.pays}
  <Table></Table>
  
  <script>
    import axios from 'axios';
    import {getCountries} from '../data/localstorage.js';
    import Table from './table.riot';
    import Todo from './todo.riot';

    export default {
      components:{
        Table,
        Todo
      },
      async onMounted(){
          this.state = {
          pays: await getCountries(),
        }
      }
    }
  </script>
</home>