<tables>
<input type="text" id="search" onKeyUp="tri()" placeholder="Recherche Pays">
  <table class="table"   data-toggle="table" id="pays">
  <thead>
    <tr>
      <th scope="col" data-sortable="true">Pays</th>
      <th scope="col" data-sortable="true">Cas</th>
      <th scope="col" data-sortable="true">Guéris</th>
      <th scope="col" data-sortable="true">Morts</th>
      <th scope="col" data-sortable="true">Cas total</th>
      <th scope="col" data-sortable="true">Guéris total</th>
      <th scope="col" data-sortable="true">Morts total</th>
    </tr>
  </thead>
  <tbody>
    <tr each={pays in state.name}>
      <td>
        <a href='/pays/{pays.Country}'>{pays.Country}</a>
      </td>
      <td>{pays.NewConfirmed}</td>
      <td>{pays.NewRecovered}</td>
      <td>{pays.NewDeaths}</td>
      <td>{pays.TotalConfirmed}</td>
      <td>{pays.TotalRecovered}</td>
      <td>{pays.TotalDeaths}</td>
    </tr>
  </tbody>
</table>
  <router>
    <route path='/pays'>
      <pays nom={paysSelectionne}/>
    </route>
  </router>
  <script>
    import {getCountries} from '../data/localstorage.js';
    import Pays from './pays.riot'
    import lazy from '@riotjs/lazy'
    import { Router, Route } from '@riotjs/route'
    import Loader from './loader.riot'

    export default {
      components: {
        Pays: lazy(Loader, () => import('./pays.riot')),
      },
      async onMounted() {
        this.state.name = await getCountries()
        this.update();
      }
    }
  </script>
</tables>
