<home>
  <h3>{ props.title }</h3>
  {state.pays}
  <table></table>
  
  <script>
    import axios from 'axios';
    import {getCountries} from '../data/localstorage.js';
    import Table from './table.riot';
    
    export default {
      components:{
        Table
      },
      async onMounted(){
          this.state = {
          pays: await getCountries(),
        }
      }
    }
  </script>
</home>