<app>
  <h1>{ title }</h1>
  <p>Le covid19</p>


  <script>
    const name = 'coucou'

    export default {
      title: `Hello ${ name }!`
    }
  </script>


  <style>
    :host {
      --riot-color: #f04;
    }

    h1 {
      color: var(--riot-color);
      border-bottom: 1px solid var(--riot-color);
    }
  </style>
</app>
