<app>
  <h1>COVID 19</h1>

  <script>
  import axios from './node_module/axios';
    export default {
      name : 'Covid19',
      components : {

      },
      async created(){
        const {data} = await axios.get("https://api.covid19api.com/summary ");
        console.log(data);
      }
    }
  </script>


  <style>
   
  </style>
</app>
