<message>
  <div class="jumbotron">
  <h1 class="display-4">Statistique du {state.date} </h1>
  <p class="lead">Les données sont mises à jour toute les 6h.</p>
 
</div>

<script>

    
  state : {
    date = moment().format("MMM Do YY");
  }
     
    
</script>

</message>